.keyboard {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  padding: 5px 0;
  margin: 250px auto;
  background: black;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboardKeys {
  text-align: center;
}

.keyboardKey {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.45rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboardKey:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboardKey--wide {
  min-width: 15%;
  max-width: 15%;
}

.keyboardKey--extra-wide {
  width: 36%;
  max-width: 500px;
}

.active {
  background: #00ff38;
  color: black;
}

.dFlex {
  display: flex;
}

.inputBox {
  width: 60%;
  font-size: 25px;
  font-weight: 500;
  height: 150px;
  padding: 12px 20px;
  margin: 50px auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.header {
  justify-content: center;
  margin: 30px 0px;
}